<div class="be-left-sidebar">
    <div class="left-sidebar-wrapper">
    	<a href="pages-home.html" class="left-sidebar-toggle">Dashboard</a>
        <div class="left-sidebar-spacer">
            <div class="left-sidebar-scroll">
                <div class="left-sidebar-content">
                    <ul class="sidebar-elements">
                        <li class="divider">Menu</li>
                        <li [ngClass]="{'active':currentUrl==='/dashboard'}"><a href="#" routerLink="/dashboard"><i class="icon mdi mdi-home"></i><span>Dashboard</span></a>
                        </li>
                        <li [ngClass]="{'active':currentUrl=='/wallet'}"><a href="#" routerLink="/wallet"><i class="icon mdi mdi-face"></i><span>My Wallet</span></a>
                        </li>
                        <li [ngClass]="{'active':currentUrl=='/health-care-record'}"><a href="#" routerLink="/health-care-record"><i class="icon mdi mdi-face"></i><span>HealthCare Recorded </span></a>
                        </li>
                        <li [ngClass]="{'active':currentUrl=='/doctor-rating'}"><a href="#" routerLink="/doctor-rating"><i class="icon mdi mdi-face"></i><span>Doctor Rating </span></a>
                        </li>
                        <li [ngClass]="{'active':currentUrl=='/history-transaction'}"><a href="#" routerLink="/history-transaction"><i class="icon mdi mdi-face"></i><span>History Transaction</span></a>
                        </li>
                       <!--  <li *ngIf="currentUser!=undefined&&currentUser.role==0" [ngClass]="{'active':currentUrl=='/create-health-care-record'}"><a href="#" routerLink="/create-health-care-record"><i class="icon mdi mdi-face"></i><span>Create HealthCare Test</span></a>
                        </li> -->
                    </ul>
                </div>
            </div>
        </div>
    </div>
</div>
