<nav class="navbar navbar-default navbar-fixed-top be-top-header">
    <div class="container-fluid">
        <div class="navbar-header"><a href="#" class="navbar-brand"></a>
        </div>
        <div class="be-right-navbar">
            <ul class="nav navbar-nav navbar-right be-user-nav">
                <li><a href="#" (click)="onClickLogout()">Logout</a>
                </li>
                <li class="dropdown"><a href="#" data-toggle="dropdown" role="button" aria-expanded="false" class="dropdown-toggle"><img *ngIf="currentUser" src="{{currentUser.avatar_url}}" alt="Avatar"><span class="user-name">Username</span></a>
                </li>
            </ul>
            <div class="page-title"><span>Dashboard</span></div>
        </div>
    </div>
</nav>