<div class="be-wrapper be-login">
    <div class="main-content container-fluid">
      <div class="splash-container">
        <div class="panel panel-default panel-border-color panel-border-color-primary">
          <div class="panel-heading"><img src="assets/img/logo-xx.png" alt="logo" width="102" height="27" class="logo-img"><span class="splash-description">Please enter your user information.</span></div>
          <div *ngIf="form==1" class="panel-body">
            <form>
              <div class="form-group">
                <input name="blockChainID" [(ngModel)]="blockChainID" type="text"  placeholder="Blockchain ID" autocomplete="off" class="form-control">
              </div>
              <div class="form-group">
                <input  name="password" type="password" [(ngModel)]="password" placeholder="Password" class="form-control">
              </div> 
              <div class="form-group login-submit">
                <button data-dismiss="modal" type="submit" class="btn btn-primary btn-xl" (click)="onClickLogin()">Sign me in</button>
              </div>
            </form>
          </div>
          <div *ngIf="form==-1" class="panel-body">
            <form>
              <div class="form-group">
                <input  name="password" type="password" [(ngModel)]="password" placeholder="Password" class="form-control">
              </div> 
              <div class="form-group login-submit">
                <button data-dismiss="modal" type="submit" class="btn btn-primary btn-xl" (click)="onClickLogin()">Regist</button>
              </div>
            </form>
          </div>
        </div>
        <div *ngIf="form==1" class="splash-footer"><span>Don't have an account? <a [routerLink]="" (click)="form=form*-1">Sign Up</a></span></div>
        <div *ngIf="form==-1" class="splash-footer"><span>Back to <a [routerLink]="" (click)="form=form*-1">Sign In</a></span></div>
      </div>
    </div>

</div>
<ng2-toasty></ng2-toasty>
