<div class="page-head">
    <h2 class="page-head-title">My Wallet</h2>
    <ol class="breadcrumb page-head-nav">
        <li><a href="#">Home</a></li>
        <li class="active">My Wallet</li>
    </ol>
</div>
<div class="page-head">
    <button type="button" class="btn btn-info">Send</button>
    <button type="button" class="btn btn-danger">RECEIVE</button>
</div>
<div class="page-head">
    <table class="table table-bordered" id="walletTable">
        <thead>
            <tr>
                <th onclick="sortTable4(0)">Total Transactions</th>
                <th onclick="sortTable4(1)">Total Received</th>
                <th onclick="sortTable4(2)">Total Sent</th>
                <th onclick="sortTable4(3)">Final Balance</th>
            </tr>
        </thead>
        <tbody>
            <tr>
                <td>3</td>
                <td>1000 ETH</td>
                <td>500 ETH</td>
                <td>500 ETH</td>
            </tr>
        </tbody>
    </table>
</div>
<div class="page-head">
    <h2>History</h2>
    <table class="table table-bordered" id="transactionTable">
        <thead>
            <tr>
                <th onclick="sortTable3(0)">Transaction<i class="fa fa-fw fa-sort" style="float: right;"></i></th>
                <th onclick="sortTable3(1)">Date<i class="fa fa-fw fa-sort" style="float: right;"></i></th>
                <th onclick="sortTable3(2)">Type<i class="fa fa-fw fa-sort" style="float: right;"></i></th>
                <th onclick="sortTable3(3)">Ammount<i class="fa fa-fw fa-sort" style="float: right;"></i></th>
            </tr>
        </thead>
        <tbody>
            <tr>
                <td>1</td>
                <td>May 5 2011</td>
                <td>Received</td>
                <td>5 ETH</td>
            </tr>
            <tr>
                <td>2</td>
                <td>May 5 2011</td>
                <td>Sent</td>
                <td>5 ETH</td>
            </tr>
            <tr>
                <td>3</td>
                <td>May 5 2011</td>
                <td>Received</td>
                <td>5 ETH</td>
            </tr>

        </tbody>
    </table>
</div>